<!doctype html>

<div id="sourceDiv">
  <section class="about" id="about">
    <h1>About</h1>
    <div class="container">
      <div class="image">
        <img src="./assets/images/daniel-ruiz-portrait-square.jpg" alt="" />
      </div>
      <div class="info">
        <p>
          I've helped many companies make sense of their data, and extract value from it when they
          thought it was very complicated. I asked the right questions, and I brought in the right
          technologies and attitude.
        </p>
        <div class="read-more-content">
          <p>XXXX</p>
        </div>
        <a class="read-more">Show More</a>
      </div>
    </div>
  </section>
</div>
