<!DOCTYPE html>

<div id="divToImport">
  <head>
    <meta charset="UTF-8" />
    <title>Daniel Ruiz</title>
  </head>

  <body>
    <header>
      <h1><a href="index.html">Daniel Ruiz</a></h1>
      <p>Making the most of your journey into the future.</p>
      <div class="navigation">
        <a href="insights.html">Insights</a>
        <span>|</span>
        <a href="consulting-services.html">Past Experience</a>
        <span>|</span>
        <a href="stack.html">Stack</a>
        <span>|</span>
        <a href="about-us.html">About Us</a>
      </div>
    </header>
  </body>
</div>
