<!DOCTYPE html>
<html lang="en">
  
<div id="divToImport">
  <div class="container">    
    <div class="wrapper">
      <div class="content">

        <h2>Data & AIML</h2>
        <table class="fixed-layout-table">
            <tr>
                <td class="col30">Digital Transformation Strategy</td>
                <td class="col70">Assessment of current digital capabilities and formulation of a tailored strategy for digital transformation.</td>
            </tr>
            <tr>
                <td class="col30">Technology Implementation</td>
                <td class="col70">Guidance on selecting and implementing digital tools and platforms to streamline operations and enhance efficiency.</td>
            </tr>
            <tr>
                <td class="col30">Data Analytics and insights</td>
                <td class="col70">Utilization of data analytics to derive actionable insights for informed decision-making and improved performance.</td>
            </tr>
            <tr>
                <td class="col30">Agile Methodologies Implementation</td>
                <td class="col70">Adoption of agile methodologies to drive iterative and adaptable approaches to project management and development.</td>
            </tr>

          </table>

            <h2>ESG Consulting</h2>
            <table class="fixed-layout-table">
                <tr>
                    <td class="col30">ESG Strategy Development</td>
                    <td class="col70">Creation and integration of comprehensive ESG strategies aligned with business objectives and stakeholder expectations.</td>
                </tr>
                <tr>
                    <td class="col30">Carbon Measuring and Net Zero</td>
                    <td class="col70">Assistance in measuring, reducing, and offsetting emissions.</td>
                </tr>
                <tr>
                    <td class="col30">ESG Training and Education</td>
                    <td class="col70">Training programs to educate stakeholders and employees on ESG principles and their importance.</td>
                </tr>
            </table>
            
            <h2>Financial Advisory</h2>
            <table class="fixed-layout-table">
                <tr>
                    <td class="col30">Wealth Management Services</td>
                    <td class="col70">Customized wealth planning and investment management strategies tailored to individual client goals.</td>
                </tr>
                <tr>
                    <td class="col30">Tax & Legal Services for Brazilian Expats</td>
                    <td class="col70">Strategies to support Brazilian expats relocating or already in Europe, in their diverse needs of documentation (home and abroad) and financial planning (partnered service).</td>
                </tr>
                <tr>
                    <td class="col30">Financial Education Workshops</td>
                    <td class="col70">Educational seminars and workshops aimed at enhancing financial literacy and empowerment for clients and their families.</td>
                </tr>
            </table>
            
            <h2>Coaching</h2>
            <table class="fixed-layout-table">
                <tr>
                    <td class="col30">Goal Setting and Achievement</td>
                    <td class="col70">Guiding individuals in setting meaningful personal goals and devising actionable plans to achieve them.</td>
                </tr>
                <tr>
                    <td class="col30">Work-Life Balance</td>
                    <td class="col70"> Strategies to manage and balance personal and professional responsibilities for a fulfilling life.</td>
                </tr>
                <tr>
                    <td class="col30">Interview Preparation</td>
                    <td class="col70">Guidance in crafting effective resumes and preparing for job interviews to enhance chances of success.</td>
                </tr>
        </table>

      </div>
    </div>
  </div>
</div>
