<!DOCTYPE html>

<html lang="en">
  <div id="divToImport">
    <div class="container">
      <p>
        <a
          href="https://www.linkedin.com/posts/econometrics_reading-literature-top5-activity-7145678065468149760-Wxze?utm_source=share&utm_medium=member_desktop"
          target="_blank"
          >My Top 5 Literature Books of 2023</a
        >
      </p>
      <p>
        <a
          href="https://www.linkedin.com/posts/econometrics_msignite-activity-7142870337943195649-Ioar?utm_source=share&utm_medium=member_desktop"
          target="_blank"
          >Microsoft Ignite 2023 (The Hague, NL)</a
        >
      </p>
      <p>
        <a
          href="https://www.linkedin.com/posts/econometrics_data-ai-ml-activity-7138580202481156096-4U6k?utm_source=share&utm_medium=member_desktop"
          target="_blank"
          >Databricks Data & AI World Tour 2023 (Zurich, CH)</a
        >
      </p>
      <p>
        <a
          href="https://www.linkedin.com/posts/econometrics_italy-university-knowledgematters-activity-7117211102991507456-fRM4?utm_source=share&utm_medium=member_desktop"
          target="_blank"
          >Bocconi Meets Latin America 2023</a
        >
      </p>
      <p>
        <a
          href="https://www.linkedin.com/posts/econometrics_snowflake-data-machinelearning-activity-7120295016840736769-UbJS?utm_source=share&utm_medium=member_desktop"
          target="_blank"
          >Snowflake Data Cloud World Tour 2023 (Amsterdam, NL)</a
        >
      </p>
    </div>
  </div>
</html>
