<!DOCTYPE html>
<html lang="en">
  
<div id="divToImport">
  <div class="container">    
    <div class="wrapper">
      <div class="content">

        <h2>Finance</h2>
        <table class="fixed-layout-table">
          <tr>
            <td class="col10">CFA ESG</td>
            <td class="col30">CFA Institute Certificate in ESG Investing</td>
            <td class="col60">Focuses on Environmental, Social, and Governance (ESG) factors in investment decision-making. Covers sustainability, ethical considerations, and the integration of ESG principles into financial analysis.</td>
          </tr>
        </table>

        <h2>Technology</h2>
        <table class="fixed-layout-table">
          <tr>
            <td class="col10">ML II</td>
            <td class="col30">Databricks Machine Learning Professional</td>
            <td class="col60">Advanced machine learning techniques and model deployment using Databricks.</td>
          </tr>
          <tr>
            <td class="col10">ML I</td>
            <td class="col30">Databricks Machine Learning Associate</td>
            <td class="col60">Introduction to machine learning concepts using the Databricks platform.</td>
          </tr>
          <tr>
            <td class="col10">AZ400</td>
            <td class="col30">Azure DevOps Engineer Expert</td>
            <td class="col60">Specialization in DevOps practices and tools on the Microsoft Azure cloud platform.</td>
          </tr>
          <tr>
            <td class="col10">AZ204</td>
            <td class="col30">Azure Developer Associate</td>
            <td class="col60">Developing applications on Azure, including services like compute, storage, and security.</td>
          </tr>
          <tr>
            <td class="col10">AI102</td>
            <td class="col30">Azure AI Engineer Associate</td>
            <td class="col60">Designing and implementing AI solutions using Azure's AI services.</td>
          </tr>
          <tr>
            <td class="col10">DP203</td>
            <td class="col30">Azure Data Engineer Associate</td>
            <td class="col60">Managing data on Azure, including data storage, processing, and security.</td>
          </tr>
          <tr>
            <td class="col10">DP100</td>
            <td class="col30">Azure Data Scientist Associate</td>
            <td class="col60">Implementing and running machine learning models on Azure for data analysis.</td>
          </tr>
        </table>
        
          
        <h2>Project Management</h2>
        <table class="fixed-layout-table">
          <tr>
            <td class="col10">PSM II</td>
            <td class="col30">Professional Scrum Master II</td>
            <td class="col60">Mastery in Scrum framework implementation, product delivery, and team dynamics.</td>
          </tr>
          <tr>
            <td class="col10">PSM I</td>
            <td class="col30">Professional Scrum Master I</td>
            <td class="col60">Foundation in Scrum principles, roles, and practices for effective project management.</td>
          </tr>
        </table>

        <h2>Degrees</h2>
        <table class="fixed-layout-table">
          <tr>
            <td class="col10">DSBA</td>
            <td class="col30">MSc in Data Science and Business Analytics</td>
            <td class="col60">
              Bocconi University - A specialized program combining data science and business analytics, offering comprehensive knowledge in data-driven decision-making and strategic business insights.
            </td>
          </tr>
          <tr>
            <td class="col10">ECON</td>
            <td class="col30">Bachelor of Economics</td>
            <td class="col60">
              University of Sao Paulo - An undergraduate program focusing on economic theories, policies, and analysis, providing a strong foundation in economic principles and their applications.
            </td>
          </tr>
        </table>

      <h2>Technical Skills</h2>

      <table class="fixed-layout-table">
        <tr>
          <td class="col10">Platforms</td>
          <td class="col90">Airflow, Anaconda, Azure, AWS, Databricks, GitHub, Jira, Snowflake</td>
        </tr>
        <tr>
          <td class="col10">Programming</td>
          <td class="col90">Python, SQL, Linux/Bash, Stata, R, Octave, VBA, Power BI, Kubernetes, Docker, APIs, Git</td>
        </tr>
        <tr>
          <td class="col10">Machine Learning</td>
          <td class="col90">Pandas, NumPy, Scikit-Learn, Matplotlib, MissingPy, TensorFlow, PyTorch, NLP, OpenAI, LLMs</td>
        </tr>
        <tr>
          <td class="col10">Front End</td>
          <td class="col90">Streamlit, HTML (yes, I built this website from Scratch), CSS</td>
        </tr>
        <tr>
          <td class="col10">IaaC</td>
          <td class="col90">Terraform/ARM</td>
        </tr>
        <tr>
          <td class="col10">Project Management</td>
          <td class="col90">Scrum/Agile</td>
        </tr>
      </table>

      <h2>Language Skills</h2>

      <table class="fixed-layout-table">
      <tr>
        <td class="col10">Portuguese</td>
        <td class="col90">Native</td>
      </tr>
      <tr>
        <td class="col10">English</td>
        <td class="col90">Fluent</td>
      </tr>
      <tr>
        <td class="col10">Italian</td>
        <td class="col90">Fluent</td>
      </tr>
      <tr>
        <td class="col10">German</td>
        <td class="col90">Fluent</td>
      </tr>
    </table>
  
      </div>
    </div>
  </div>
</div>
