<!doctype html>

<div id="sourceDiv">
  <section class="recent-work" id="portfolio">
    <h1>Portfolio</h1>
    <div class="container">
      <h4>Some open-source recent works.</h4>
      <div class="projects">

        <div class="project">
          <div class="thumbnail">
            <img src="./assets/images/pypi-interesting.png" alt="" />
          </div>
          <h2>interesting</h2>
          <p>
            The interesting Python package is a specialized toolkit for dealing with Brazilian fixed
            income titles. It provides functionalities to build, analyze, visualize, and valuate
            various types of fixed income instruments and portfolios made thereof.
          </p>
          <div class="action">
            <a href="https://github.com/thegitofdaniel/interesting" target="_blank">Github</a>
            <a href="https://pypi.org/project/interesting" target="_blank">PyPi</a>
          </div>
        </div>

        <div class="project">
          <div class="thumbnail">
            <img src="./assets/images/thewebsiteofdaniel.png" alt="" />
          </div>
          <h2>The Website of Daniel</h2>
          <p>
            Yes, this website is available on my GitHub. It has been built from open-sourced
            templates. You may copy it too, aas long as you keep the license.
          </p>
          <div class="action">
            <a href="https://github.com/thegitofdaniel/thewebsiteofdaniel" target="_blank">
              Github
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
