<!doctype html>

<div id="sourceDiv">

  <section class="skills" id="skills">
    <h1>Skills</h1>

    <div class="container">

        <div class="skill">
            <div class="head">
                <div class="left">
                    <span class="material-icons-sharp">design_services</span>
                    <h4>Chat-bot Development</h4>
                </div>
                <div class="right">
                    <span class="material-icons-sharp">expand_more</span>
                </div>
            </div>

            <div class="items">
                <div class="item">
                    <h5>GPT-3</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>92%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>GPT-4</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>85%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>langchain</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>85%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>llamaindex</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Dialog Management</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>LlmOps</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Retrieval Augmented Generation</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Word and Sentence Embeddings</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Transformers</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Vector Stores</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Knowledge Graphs</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Prompt Engineering</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="skill">
            <div class="head">
                <div class="left">
                    <span class="material-icons-sharp">design_services</span>
                    <h4>Software Engineering</h4>
                </div>
                <div class="right">
                    <span class="material-icons-sharp">expand_more</span>
                </div>
            </div>

            <div class="items">
                <div class="item">
                    <h5>Python</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>92%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Flask</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>85%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>FastAPI</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>85%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>SQL</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>SQLAlchemy</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>PostgreSQL</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Elasticsearch</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Celery</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Redis</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Design Patterns</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Data Structures and Algorithms</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Quality Assurance</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="skill">
            <div class="head">
                <div class="left">
                    <span class="material-icons-sharp">design_services</span>
                    <h4>Data Analysis</h4>
                </div>
                <div class="right">
                    <span class="material-icons-sharp">expand_more</span>
                </div>
            </div>

            <div class="items">
                <div class="item">
                    <h5>Scrapy, Selenium, Playwright</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>92%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Scikit-learn</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>85%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Pandas, Numpy</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>Spacy, NLTK</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
                <div class="item">
                    <h5>pyldavis</h5>
                    <div class="progress-area">
                        <div class="progress-bar">
                            <div class="progress"></div>
                        </div>
                        <!-- <h5>75%</h5> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

</div>
